# Code Owners for a file
[File section]
.gitlab-ci.yml @t-miyanaga

# Code Owners for a directory
[Directory section]
md/ @t-miyanaga

# All group members as Code Owners for a file
[Group section]
