h2 {
    padding-top: .3em;
    padding-bottom: .3em;
    line-height: 1.225;
    border-bottom: 1px solid #ddd
}

h3 {
    padding-top: .2em;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.label {
    text-transform: none;
}

.gb-markdown.book-page-inner
{
    font-size: 1.2em;
}
